VITE_SUPABASE_URL=https://gmofjytdcrivqmkrotbv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdtb2ZqeXRkY3JpdnFta3JvdGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMjkwNzQsImV4cCI6MjA4ODkwNTA3NH0.ManvCOUSy3DHWS39QS3frIXU9oBb_Ls37u8L1w40gB0
VITE_API_URL=/api